<div id="<%= dom_id announcement %>">
  <p>
    <strong>Title:</strong>
    <%= announcement.title %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= announcement.preview %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= announcement.content %>
  </p>

</div>
