<div id="<%= dom_id segment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Identifier:</strong>
    <%= segment.identifier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Allow new values:</strong>
    <%= segment.allow_new_values %>
  </p>

</div>
