<div class="w-full">
  <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
    <h3 class="text-base font-semibold leading-6 text-gray-900">Tickets</h3>
    <%= link_to "New ticket", new_ticket_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>
<div id="tickets" class="min-w-full text-sm">
  <% @grouped_tickets.each do |group, tickets| %>
    <div class="inline-flex items-center justify-center w-full">
      <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"><%= group %></span>
    </div>
    <ul>
      <% tickets.each do |ticket| %>
        <li class="text-sm py-1"><%= link_to ticket %> <%= classification_pill(ticket) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
