<div id="<%= dom_id contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">External:</strong>
    <%= contact.external_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Info payload:</strong>
    <%= contact.info_payload %>
  </p>

</div>
