<div class="max-w-6xl mx-auto px-4">
  <div class="mb-6">
    <h2 class="text-2xl font-medium text-gray-900">Edit <%= singular_table_name.titleize %></h2>
  </div>
  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
